button {
  padding: 1.6rem;
  border-radius: 10rem;
  margin-left: -11.6rem;
  width: 10.2rem;
  transform: translateY(0.4rem);
  background-image: linear-gradient(
    to right,
    hsla(0, 93%, 68%, 0.295),
    hsla(0, 93%, 68%, 0.705)
  );
  border: none;
  cursor: pointer;
  &:active {
    background-color: rgba(255, 218, 218, 0);
    cursor: pointer;
  }
}

.error {
  transform: translateX(-11.5rem) translateY(0.7rem);
}
